// rutas
$img_url: 'assets/';
$font_url: 'assets/fonts/';

// colores
$white: #fff;
$base-color: #0d0d0d;

// fuentes
$base-font: 'gilroymedium';
$base-font-bold: 'gilroybold';
$base-font-black: 'gilroyextrabold';

$gutter-x: 134;
