#app {
	overflow: hidden;
}

.title {
	font-family: $base-font-bold;
	color: $base-color;
	@include fluid-type(90px, 40px);

	&.light {
		color: $white;
	}
}

.link {
	color: $base-color;
	line-height: 1.86;
	@include fluid-type(20px, 15px);

	&.light {
		color: $white;
	}
}
